<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="orangehrmlive">
        <classes>
            <class name="com.testscripts.Tc02">
                <methods>
                    <include name="negativeTest"/>
                    <include name="positiveTest"/>
                    <include name="admintabTest"/>
                    <include name="addUserTest"/>
                    <include name="addOneUserTest"/>
                    <include name="addUsersTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>