<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="orangehrmlive">
        <classes>
            <class name="com.testScripts.HRMAdmin">
                <methods>
                    <include name="negativeTest"/>
                    <include name="loginAppTest"/>
                    <include name="adminTabTest"/>
                    <include name="addUserTest"/>
                    <include name="addOneUserTest"/>
                    <include name="addUsersTest"/>
                    <include name="logoutTest"/>
                </methods>
            </class>
            <class name="com.testScripts.HRMLeaves">
                <methods>
                    <include name="loginAppTest"/>
                    <include name="leaveSearchTest"/>
                    <include name="logoutTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>